<footer id="footer">
    <div class="myinfo">
        <div class="infoclass">
            <ul>
                <li class="p-secondary"><img src="assets/images/home.png" alt="logo's">Chembur,Mumbai Maharashtra</li>
                <li class="p-secondary"><img src="assets/images/phone.png" alt="logo's">9321987595</li>
                <li class="p-secondary"><img src="assets/images/email.png" alt="logo's">kawariyadayal999&#64;gmail.com</li>
            </ul>
        </div>
        <div class="infoclass">
            <h2 class="h-secondary">My Profile Links</h2>
            <ul>
                <li class="p-footer"><img src="assets/images/linkedin.png" alt="linkedIn logo"> <a class="p-footer"
                        href="https://www.linkedin.com/in/dayal-kawariya-55a7b9254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "></a>Linked
                        In </li>
                <li class="p-footer"><img src="assets/images/github.png" alt="linkedIn logo"> <a class="p-footer"
                        href="https://github.com/drkhere"></a>Git Hub </li>
            </ul>
        </div>
    </div>
    <p class="p-secondary">Copyright &copy; Dayal Kawariya</p>
</footer>