<div id="my-projects">
  <p class="top-primary">Projects</p>
  <div class="project-section">
    <div class="pro">
      <img src="assets/images/project1.png" alt="Project1">
      <div class="content">
        <p class="h-secondary hide">Netflix Clone</p>
        <p class="p-secondary show">It is a clone website fully made by my knowledge, Purely made by html
          css and js, It is fully responsive in any smartphones<br><a
            href="https://github.com/drkhere/Netflix-clone">click to view</a></p>
      </div>
    </div>
    <div class="pro">
      <img src="assets/images/bugsystem.png" alt="Project1">
      <div class="content">
        <p class="h-secondary hide">Bug System</p>
        <p class="p-secondary show">It is a system made for tech organization to manager there project's Bugs and
          maintaing there lifecycle, A powerfull combination of Angular and Springboot is used in these project<br><a
            href="https://github.com/drkhere/Netflix-clone">click to view</a></p>
      </div>
    </div>
    <div class="pro">
      <img src="assets/images/news_site.png" alt="Project1">
      <div class="content">
        <p class="h-secondary hide">Bharat News</p>
        <p class="p-secondary show">
          A responsive news website built using Angular. It fetches real-time news from a third-party public API. This
          project focuses on implementing frontend development skills in Angular with API integration. <br>
          <a href="https://github.com/drkhere" target="_blank">Click to view</a>
        </p>
      </div>
    </div>

    <div class="pro">
      <img src="assets/images/library.png" alt="Library Management Project">
      <div class="content">
        <p class="h-secondary hide">Library Management</p>
        <p class="p-secondary show">
          A desktop-based Library Management System developed using Java Swing and MySQL. It features an interactive and
          user-friendly UI, email integration for notifications, and role-based authorized access for admins, staff, and
          students. <br>
          <a href="https://github.com/drkhere" target="_blank">Click to view on GitHub</a>
        </p>
      </div>
    </div>


  </div>
</div>

<!-- <div id="my-projects">
    <p class="top-primary">Projects</p>
    <div class="project-section">
      <div class="pro" *ngFor="let project of projects">
        <img [src]="project.image" [alt]="project.title" />
        <div class="content">
          <p class="h-secondary hide">{{ project.title }}</p>
          <p class="p-secondary show">
            {{ project.description }}<br />
            <a [href]="project.link" target="_blank">click to view</a>
          </p>
        </div>
      </div>
    </div>
  </div> -->