<div id="skills">
    <p class="top-primary">My Skills</p>
    <div class="skill-set">
        <div class="skies p-primary"><img src="assets/images/html.png"></div>
        <div class="skies p-primary"><img src="assets/images/css.png"></div>
        <div class="skies p-primary"><img src="assets/images/java-script.png"></div>
        <div class="skies p-primary"><img src="assets/images/css.png"></div>
        <div class="skies p-primary"><img src="assets/images/python.png"></div>
        <div class="skies p-primary"><img src="assets/images/java.png"></div>
    </div>
</div>