<header>
    <nav id="navbar">
        <div class="logo">Portfolio</div>
        <ul>
            <ul [class.v-class-res]="menuOpen" class="menu">
                <li><a href="#intro">Intro</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#my-projects">Projects</a></li>
                <li><a href="#contacts">Contact</a></li>
            </ul>

            <div class="burger" (click)="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </ul>


    </nav>
</header>