<div id="intro">
    <div class="intro-part">
        <p class="p-primary">Hii! Myself Dayal</p>
        <p class="p-primary">I'm A Passionate Tech Guy</p>
        <h2 class="h-primary">SOFTWARE ENGINEER</h2>
        <div class="downloads">
            <span class="sections" (click)="downloadResume()">
                Download Resume
            </span>
            <span class="sections" (click)="gotoGithub()">
                Github  <img src="assets/images/github.png" alt="img">
            </span>
        </div>

    </div>
    <div class="logo intro-part">
        <img src="assets/images/logo.png" alt="" class="logo">
    </div>
</div>